aiohttp==3.7.4
astroid==2.4.2
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.5.3
boto==2.49.0
boto3==1.17.17
botocore==1.20.17
brotlipy==0.7.0
bz2file==0.98
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet
click==7.1.2
colorama==0.4.3
cryptography==3.4.4
dataclasses==0.6
filelock==3.0.12
Flask==1.1.2
future==0.18.2
gensim==3.8.3
google-api-core==1.25.1
google-auth==1.24.0
google-cloud-core==1.5.0
google-cloud-storage==1.35.0
google-cloud-vision==2.2.0
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
grpcio==1.36.0
idna==2.10
importlib-metadata==3.7.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
lazy-object-proxy==1.4.3
libcst==0.3.17
MarkupSafe==1.1.1
mccabe==0.6.1
multidict==5.1.0
mypy-extensions==0.4.3
nltk==3.5
numpy==1.20.1
olefile==0.46
opencv-python==4.5.1.48
packaging==20.9
pdf2image==1.13.1
Pillow==8.1.0
pip==21.0.1
proto-plus==1.14.2
protobuf==3.15.2
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.6.0
pycparser==2.20
pylint==2.5.3
PyMuPDF==1.18.9
pyOpenSSL==20.0.1
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2021.1
PyYAML==5.4.1
regex==2020.11.13
requests==2.25.1
rsa==4.7.2
s3transfer==0.3.4
sacremoses==0.0.43
scikit-learn==0.24.1
scipy==1.6.0
sentence-transformers==0.4.1.2
sentencepiece==0.1.95
setuptools==50.3.2
Shapely==1.7.1
six==1.15.0
smart-open==4.2.0
SpeechRecognition==3.8.1
threadpoolctl==2.1.0
tokenizers==0.10.1
toml==0.10.1
torch==1.7.0
torchvision==0.8.1
tqdm==4.58.0
transformers==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.26.3
Werkzeug==1.0.1
wheel==0.36.2
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
yarl==1.5.1
zipp==3.4.0
