:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: black;
  --nav-size: 40px;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  width: var(--nav-size);
  height: var(--nav-size);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: filter 300ms;
}
.icon-button-small {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  transition: filter 300ms;
}
.logout-icon {
  display: flex;
  width: 10%;
  margin: 0% 7% 0% 7%;
  align-items: flex-end;
}
.icon-circle {
  width: calc(var(--button-size) * 1.5);
  height: calc(var(--button-size) * 1.5);
  background-color: #f8f8f8ee;
  border: 2px solid rgb(0, 132, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}
.icon-circle-small {
  height: 40px;
  background-color: #f8f8f8ee;
  border: 2px solid rgb(0, 132, 255);
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: filter 300ms;
  margin: 0% 15% 30% 15%;
}
.icon-button:hover {
  filter: brightness(1.2);
}
.icon-button-small:hover {
  filter: brightness(1.2);
}

.icon-circle:hover {
  cursor: pointer;
}
.menu-dropdown {
  position: absolute;
  top: 58px; /*depende sa height sa navbar*/
  width: 300px;
  transform: translateX(-42%);
  background-color: white;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.logout-menu {
  display: flex;
  justify-content: left;
  transition: background var(--speed);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  padding: 0.2rem;
  border-top: 2px solid rgb(158, 158, 158);
  font-weight: bold;
}
.profile-menu {
  height: 75px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  transition: background var(--speed);
  padding: 0.2rem;
}
.profile-menu:hover,
.logout-menu:hover {
  background-color: #d6d1d1c0;
}
.name {
  height: 50%;
  font-size: x-large;
  font-weight: bold;
}
.icon-space {
  height: 75%;
  width: 20%;
  margin: 3% 0 3% 3%;
}
.name-space {
  height: 80%;
  width: 70%;
  margin: 1% 0% 0% 2%;
}
.description {
  font-size: small;
  height: 40%;
  margin-top: 1%;
}
.logout-text {
  margin-top: 2%;
}

.menu-dropdown{
  visibility: visible;
  -webkit-animation: fadeIn 0.7s;
  animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}