.createMaster {
  width: 800px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.title {
  font-size: large;
  color:black;
  margin-bottom: 50px;
}

.flex {
  display: flex;
}

.divisor {
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-top: -8px;
  margin-left: 10px;
  margin-right: 10px;
}

.subscript {
  font-size: small;
  color: rgb(180, 180, 180);
  margin-left: 18px;
  margin-right: 52.8px;
  margin-top: -11px;
}

.margin {
  margin-left: 45px;
  margin-right: 130px;
}

.btns {
  outline: none;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.btns:hover {
  transform: translateY(-3px);
  transform: scale(1.2);
}

.add {
  margin-top: 20px;  
}

.dynamic {
  margin-bottom: 20px;
}

.download {
  padding: 15px 50px;
  height: 50px;
  border: 1px solid #00abeb;
  background-color: #00abeb;
  color: white;
  margin-top: 90px;
  margin-left: 260px;
  width: 300px;
}

.addRow {
  padding: 10px 50px;
  height: 40px;
  border: 2px solid rgb(180, 180, 180);
  background-color: white;
  margin-top: 6.8px;
  display: flex;
}

.delete {
  border: 0px;
  background-color: white;
  margin-top: 11px;
  margin-left: 8px;
}

.plusSign {
  margin-left: -20px;
  margin-right: 30px;
}


