

main{
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/*button stylings*/
.buttons {
  text-align: center;
  margin-top: 7%;
}

@media screen and (max-width: 768px){
  .buttons {
    text-align: center;
    margin-top: 20%;
  }
  

}
.smallerText {
  font-size: 15px;
}

.biggerText {
  font-size: 67%;
  font-weight: 500;
}

/*filler text to even out boxes*/

.filler {
  color: white;
  font-size: 15px;
}

.MainPage{
  background: url('../background.svg');
  background-repeat: no-repeat;
  background-size: 300%;
  background-position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}