
.stylish::after,
.stylish::before {
  --scale: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(425%) scale(var(--scale));
  transition: 150ms transform;
  color: black;
  opacity: 1;
  transform-origin: top center;

}

.stylish::before {
  font-style: "justified";
  margin-top: 12%;
  content: attr(data-tooltip);


}
.stylish:hover::before {
  --scale: 1;

}

@media screen and (max-width: 1050px){
  .stylish::after,.stylish::before{
    display: none;
  }


}